.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #0e0b0b !important;
}
.container-fluid a{
    color: white !important; 
}
.btn.btn-outline-success{
    color: white;
    border: 1px solid white;
}
.navbar-brand.mx-auto.d-block
{
    color: aliceblue !important;
}