{% include 'nav.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{% static 'home.css' %}">
    <title>Document</title>

    <style>
     
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Align items to the bottom */
        align-items: center;/* Center items vertically */
      }
      a{
        text-decoration: none;
      }
      </style>
</head>

<body class="custom-background">
    
   <div class="m-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="ok">
                <a href="{% url 'students' %}">
                  <img class="card-img-top" src="{% static 'images/student.png' %}" alt="Student Image">
                </a>
              </div>
              <button class="btn btn-dark btn-block btn-sm" style="margin-top: 5px; border-radius: 7px; height:30px; width:80px">
                <a href="{% url 'students' %}">Students</a>
              </button>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="ok">
                <a href="{% url 'faculty' %}">
                  <img class="card-img-top" src="{% static 'images/faculty2.png' %}" alt="Faculty Image">
                </a>
              </div>
              <button class="btn btn-dark btn-block btn-sm" style="margin-top: 10%; border-radius: 7px; height:30px; width:80px">
                <a href="{% url 'faculty' %}">Faculty</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="ok">
                <a href="{% url 'books' %}">
                  <img class="card-img-top" src="{% static 'images/books.png' %}" alt="Faculty Image">

                </a>
              </div>
              <button class="btn btn-dark btn-block btn-sm" style="margin-top: 7%; border-radius: 7px; height:30px; width:80px">
                <a href="{% url 'books' %}">Books</a>
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="ok">
                <a href="{% url 'courses' %}">
                  <img class="card-img-top" src="{% static 'images/course.png' %}" alt="Faculty Image">
                </a>
              </div>
              <button class="btn btn-dark btn-block btn-sm" style="margin-top: 5px; border-radius: 7px; height:30px; width:80px">
                <a href="{% url 'courses' %}">course</a>
              </button>
            </div>
          </div>
        </div>        
      </div>
    </div>

   </div>
        
        


        
    </div>
   <button class="btn btn-dark btn-block btn-sm" style="color :rgb(255, 255, 255);" >
          <a href="{% url 'gallary' %}">image upload</a>
        </button>
      
      </div>
      <button class="btn btn-dark btn-block btn-sm" style="color :rgb(255, 255, 255);" >
             <a href="{% url 'base' %}">file upload</a>
           </button>
         </li>
      
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>