body{
    background-color: #006c76 !important;
}


.container {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
}


.card {
 flex: 0 0 calc(25% - 20px); /* Adjust width to fit 4 cards perfectly */
 border: 1px solid #f20707;
 border-radius: 8px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 height: 350px;
 margin-right: 10px; /* Adjust margin between cards */
 margin-left: 10px; /* Adjust margin between cards */
 margin-top: 5%;
}

.card-body {
    padding: 20px;
}

.card-body li {
    list-style: none;
    margin-top: 10px;
    text-align: center;}

.card-body li a {
    text-decoration: none;
    color: #333;
}



.ok {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-size: cover; 
    text-align: center; /* Center the image horizontally */
}

.ok img {
    max-width: 100%; /* Make the image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper rendering as a block element */
    margin: auto; /* Center the image horizontally */
}
