.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #22223B !important;
}
.container-fluid a{
    color: white !important; 
}
.btn.btn-outline-success{
    color: white;
    border: 1px solid white;
}