{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="card" style="padding: 2%;">
        <div class="card-body">
            <h2>{{ file_name }}</h2>
            <table class="table table-hover table-bordered" border="1">
                <thead class="table-dark">
                    <tr>
                        {% for heading in headings %}
                        <th>{{ heading }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tables %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>
