<!-- courses.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
    <h1>Course List</h1>
    
    <table>
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Books</th>
                <th>Subject</th>
                <th>course_Year</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_books }}</td>
                    <td>{{ course.course_subject }}</td>
                    <td>{{ course.coures_year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
